.header{grid-area:header;background-color: antiquewhite;}
.izq{grid-area:izq; background-color: aliceblue;}
.der{grid-area:der;background-color: lightgreen;}
.contenido{grid-area:contenido;background-color: blanchedalmond;}
.pie{grid-area:pie;background-color: bisque;}



.container{
    display: grid;
    grid-template: 100px 1fr auto/20% auto 20%;
    grid-template-areas: 
    "header header header"
    "izq contenido der"
    "pie pie pie";
    gap: 10px;
    border: solid black 2px;
}
.item{
    padding:10px;
    color:rgb(23, 37, 23);
    border-radius: 10px;
}
img{
    width: 100%;
    max-width: 400px;
}

@media only screen and (max-width:600px){
    .container{ 
    grid-template: 100px auto auto auto/100%;
    grid-template-areas: 
    "header"
    "izq"
    "der"
    "contenido"
    "footer";
}
}  